name: twinrnn
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.7
  - numpy
  - scipy
  - matplotlib
  - scikit-learn
  - jupyter
  - ipykernel
  - pip
  - pip:
      - tensorflow==2.1.0
      - keras==2.3.1